:root {
  --window-height: 100vh;
  --window-width: 50vh;
  --world_background-opacity: 0.85;
}

@media (orientation: portrait) {
  :root {
    --window-height: 100vh;
    --window-width: 100vw;
  }
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: brown;
  overflow: hidden;
}

body {
  display: flex;
  position: relative;
  height: var(--window-height);
  width: var(--window-width);
  margin: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to bottom, lightblue, skyblue, deepskyblue);
}

.worldsMenu {
  position: absolute;
  z-index: 100;
  width: calc(var(--window-width) * 0.75);
}
.worldsMenu > .menuWorldButton {
  cursor: pointer;
  margin: auto;
  margin-bottom: calc(var(--window-height) / 70);
  padding: 3%;
  border-radius: calc(var(--window-height) / 38);
  box-sizing: border-box;
  border: 1px solid black;
  align-items: center;
}
.worldsMenu > .menuWorldButton > .worldHeader {
  margin: 0 0 2% 0;
  text-align: center;
  font-size: 130%;
  font-weight: 1000;
}
.worldsMenu > .menuWorldButton:hover .worldFlipContainer {
  transform: rotateX(180deg);
  box-shadow: 0.3rem -0.3rem 0.8rem 0.2rem #858585;
}
.worldsMenu > .menuWorldButton > .worldFlipContainer {
  position: relative;
  width: 96%;
  height: 3rem;
  margin: auto;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
.worldsMenu > .menuWorldButton > .worldFlipContainer > .worldDesc {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  padding: 1%;
}
.worldsMenu > .menuWorldButton > .worldFlipContainer > .worldDescRules {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  text-align: center;
  padding: 1%;
}
.worldsMenu > .menuWorldButton:last-child {
  margin-bottom: 0;
}
.worldsMenu > .worldMulticolors {
  background-color: rgba(255, 255, 255, var(--world_background-opacity));
}
.worldsMenu > .worldMulticolors:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldChild {
  background-color: rgba(255, 200, 0, var(--world_background-opacity));
}
.worldsMenu > .worldChild:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldNoir {
  background-color: rgba(150, 150, 150, var(--world_background-opacity));
}
.worldsMenu > .worldNoir:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldGLM {
  background-color: rgba(0, 200, 0, var(--world_background-opacity));
}
.worldsMenu > .worldGLM:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldBadabum {
  background-color: rgba(255, 0, 0, var(--world_background-opacity));
}
.worldsMenu > .worldBadabum:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldNoirNightmare {
  background-color: rgba(65, 65, 65, var(--world_background-opacity));
}
.worldsMenu > .worldNoirNightmare:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}
.worldsMenu > .worldBehindMirrors {
  background-color: rgba(45, 45, 255, var(--world_background-opacity));
}
.worldsMenu > .worldBehindMirrors:hover {
  box-shadow: 0.3rem 0.3rem 0.9rem 0.1rem #858585;
}

.cloud {
  position: absolute;
}/*# sourceMappingURL=style.css.map */